<nav class="top-nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav-list">
          <li class="logo">
            {{#link-to 'index' class="copilot-logo"}}
              <img src="assets/images/logo/copilot-logo.svg" alt="Copilot Logo">
            {{/link-to}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
