<div class="content">
  <div class="container">
    <fieldset>
      <legend>Grid Overview</legend>
      <div class="row">
        <div class="row col-12">I am in a 12 column row</div>
      </div>

      <div class="row">
        <div class="col-6">I am in a 6 column row</div>
        <div class="col-6">I am in a 6 column row</div>
      </div>

      <div class="row">
        <div class="col-4">I am in a 4 column row</div>
        <div class="col-4">I am in a 4 column row</div>
        <div class="col-4">I am in a 4 column row</div>
      </div>

      <div class="row">
        <div class="col-3">I am in a 3 column row</div>
        <div class="col-3">I am in a 3 column row</div>
        <div class="col-3">I am in a 3 column row</div>
        <div class="col-3">I am in a 3 column row</div>
      </div>
    </fieldset>
  </div>
</div>
